body{
    background-color: rgb(5, 19, 26);
}
.container{
    background-color: rgb(6, 40, 53);
    height: 500px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    margin-top: 90px;
    margin-left: 500px;
}

.box{

}

img{
    height: 250px;
    margin: 18px;
    border-radius: 8px;
    width: 267px;   
}

h4{
    color: rgb(250, 250, 250);
    margin-top: -9px;
    margin-left: 21px;
}

p{
    color: rgb(143, 146, 146);
    margin-left: 21px;
}
.icon img{
    height: 19px;
    width: 11px;
    
    
}
.ETHERIUM{
    margin-top: -40px;
    margin-left: 37px;
    color: aqua;
    font-size: small;
}

.icon2 img{
    height: 19px;
    width: 15px;
    float: right;
    margin-top: -30px;
    margin-right: 80px;
}
.days{
    
    margin-top: -28px;
    margin-left: 207px;
    color: rgb(245, 245, 245);
    font-size: small; 
}

hr{
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 25px;
    color: rgb(48, 49, 51);
    
    
}

.avatar img{
    
    border-radius: 140px;
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    margin-top: 8px;
}

.creation{
    color: rgb(66, 78, 88);
    margin-top: -41px;
    margin-left: 49px;
    font-size: medium;
}

.jules{
    color: #fff;
    margin-top: -33px;
    margin-left: 128px;
    font-size: medium;
}